@import url(http://fonts.googleapis.com/css?family=Lato);
body {
    background: #f5f5f5;
}
.wrapper-login {
    width: 200px;
    margin: 10% auto;
}
.wrapper-login h2 {
    color: #ccc;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}
.input {
    font-family: 'Lato', sans-serif;
    background: #fff;
    padding: 15px;
    width: 200px;
    margin-bottom: 10px;
    font-size: 14px;
    border: 0;
    outline: none;
    display: block;
    -webkit-box-shadow: 1px 0 0 0 #ccc;
    -moz-box-shadow: 1px 0 0 0 #ccc;
    box-shadow: 1px 0 0 0 #ccc;
    color: #959595;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    transition: border 0.3s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border-bottom: 2px solid #ccc;
}
.input:focus {
    border-bottom: 2px solid #5cbcf6;
}
.perspective {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.button {
    border: 0;
    padding: 15px;
    font-size: 14px;
    width: 230px;
    display: block;
    color: #fff;
    background: #5cbcf6;
    cursor: pointer;
    outline: none;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    letter-spacing: 1px;
}
.button:after {
    opacity: 0;
    right: 15%;
    position: absolute;
    content: '→';
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.button:hover {
    background: #1fa2f1;
}
.button:hover:after {
    opacity: 1;
    right: 10%;
    position: absolute;
}
.button:active {
    color: #dfdfdf;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s;
}
.button:before {
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    line-height: 50px;
    top: 100%;
    background: #e96a6a;
    color: #a33a3a;
    content: 'Error!';
    font-weight: 700;
    -webkit-transform-origin: 0% 0%;
    -webkit-transform: rotateX(-90deg);
    -moz-transform-origin: 0% 0%;
    -moz-transform: rotateX(-90deg);
    -ms-transform-origin: 0% 0%;
    -ms-transform: rotateX(-90deg);
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
}
.button-error {
    background: #aaa;
    -webkit-transform-origin: 50% 0%;
    -webkit-transform: rotateX(90deg) translateY(-100%);
    -moz-transform-origin: 50% 0%;
    -moz-transform: rotateX(90deg) translateY(-100%);
    -ms-transform-origin: 50% 0%;
    -ms-transform: rotateX(90deg) translateY(-100%);
    transform-origin: 50% 0%;
    transform: rotateX(90deg) translateY(-100%);
}
.error {
    font-family: 'Lato', sans-serif;
    padding: 20px;
    background: #e96a6a;
    color: #fff;
}